/*Utilizar un estilo formal*/
* {
    margin: 0;
    padding: 0;
}

#bar {
    height: 10%;
    width: 100%;
    background-color: blue;
    position: fixed;
}

#menu ul li {
    display: inline;
    float: left;
    padding: 0 10px 0 10px;
}

#form {
    padding-left: 30px;
}


